<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render @forecast %>

<% if @forecast.periods.empty? %>
  <p><strong>Unable to retrieve the forecast at this time. Please try again later.</strong></p>
<% else %>
  <table>
    <% @forecast.periods.each do |period| %>
      <tr>
        <td><strong><%= period.day %></strong></td>
        <% if period.only_one_part? %>
          <td colspan="2"><%= period.high_temperature %>&deg;</td>
          <td>
            <%= period.first.name %>: <%= period.first.shortForecast %>
          </td>
        <% else %>
          <td>High: <%= period.high_temperature %>&deg;</td>
          <td>Low: <%= period.low_temperature %>&deg;</td>
          <td>
            <%= period.first.name %>: <%= period.first.shortForecast %>
            <br>
            <%= period.second.name %>: <%= period.second.shortForecast %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<div>
  <%= link_to "Edit this forecast", edit_forecast_path(@forecast) %> |
  <%= link_to "Back to forecasts", forecasts_path %>

  <%= button_to "Destroy this forecast", @forecast, method: :delete %>
</div>
